<div class="col-lg-12">



    <div class="row">

        <div class="col-lg-4 col-md-6 mb-4" *ngFor="let product of productList">
            <div class="card h-100">
                <a href="#"><img class="card-img-top" src="{{ product.productImg }}" alt=""></a>
                <div class="card-body">
                    <h4 class="card-title">
                        <a routerLink="product/{{ product.id }}">{{ product.name }}</a>
                    </h4>
                    <h5>Rs.{{ product.price }}</h5>
                    <p class="card-text">
                        {{ product.description}}
                    </p>
                </div>
                <div class="card-footer">
                    <small> Reviews: {{ product.reviews }} </small>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="table table-trapped">
                <table>
                    <thead>
                        <tr>
                            <th>Product Name</th>
                            <th>Category</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let det of productList">
                            <!--| paginate:{id :'listing-pagination',
                        ItemsPerPage :10,
                        currentPage:page,
                        totalItems:totalRecords}">-->
                            <td>{{ det.name }}</td>
                            <td>{{ det.category_id}}</td>
                            <td>{{ det.price}}</td>
                        </tr>
                    </tbody>
                </table>
                <!--
                <div>
                    <pagination-controls id="listing-pagination" maxSize="5" directionLinks="true" (pageChange)="page = $event"></pagination-controls>
                </div>-->
            </div>
        </div>
        <!--
        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="card h-100 ">
                <a href="# "><img class="card-img-top " src="assets/images/Nokia7.2.jpg " alt=" "></a>
                <div class="card-body ">
                    <h4 class="card-title ">
                        <a href="# ">Nokia7.2</a>
                    </h4>
                    <h5>Rs.25000</h5>
                    <p class="card-text ">
                        This Nokia smartphone comes with a triple-sensor rear camera featuring ZEISS Optics. Its 48 MP main sensor is ideal for capturing fine details, the 5 MP depth sensor captures true-to-life ZEISS portraits, and the 8 MP sensor has an ultra-wide 118° lens
                        for stunning landscape images. Furthermore, the 20 MP front camera clicks beautiful selfies.
                    </p>
                </div>
                <div class="card-footer ">
                    <small class="text-muted ">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="card h-100 ">
                <a href="# "><img class="card-img-top " src="assets/images/RedmiNote7.jpg " alt=" "></a>
                <div class="card-body ">
                    <h4 class="card-title ">
                        <a href="# ">Redmi Note 7</a>
                    </h4>
                    <h5>Rs.10000</h5>
                    <p class="card-text ">
                        Hold the Redmi Note 7 in your hand and get ready to revel in an efficient and luxurious smartphone experience. A powerful 2.2 GHz Qualcomm Snapdragon 660 AIE octa-core processor, a (12 MP + 2 MP) dual-rear camera, a massive 16-cm (6.3) FHD+ Dot Notch
                        Display and features are AI Scene Detection, Face Unlock, and IR Remote Control.
                    </p>
                </div>
                <div class="card-footer ">
                    <small class="text-muted ">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="card h-100 ">
                <a href="# "><img class="card-img-top " src="assets/images/SamsungGalaxyJ2.jpg " alt=" "></a>
                <div class="card-body ">
                    <h4 class="card-title ">
                        <a href="# ">Samsung Galaxy J2</a>
                    </h4>
                    <h5>Rs.12000</h5>
                    <p class="card-text ">
                        Samsung Galaxy J2 (2017) smartphone was launched in October 2017. The phone comes with a 4.70-inch touchscreen display with a resolution of 540x960 pixels. Samsung Galaxy J2 (2017) is powered by a 1.3GHz quad-core Samsung Exynos 3 Quad 3475 processor.
                        It comes with 1GB of RAM. The Samsung Galaxy J2 (2017) runs Android and is powered by a 2000mAh removable battery.
                    </p>
                </div>
                <div class="card-footer ">
                    <small class="text-muted ">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="card h-100 ">
                <a href="# "><img class="card-img-top " src="assets/images/samsungGalaxyZ.jpg " alt=" "></a>
                <div class="card-body ">
                    <h4 class="card-title ">
                        <a href="# ">Samsung Galaxy Z</a>
                    </h4>
                    <h5>Rs.17000</h5>
                    <p class="card-text ">
                        Samsung Galaxy Z Flip smartphone was launched on 20th February 2020. The phone comes with a 6.70-inch touchscreen primary display with a resolution of 1080x2636 pixels at a pixel density of 425 pixels per inch (ppi). It also features a 1.10-inch as its
                        second display, with a resolution of 112x300 pixels at a pixel density of 303 pixels per inch (ppi).
                    </p>
                </div>
                <div class="card-footer ">
                    <small class="text-muted ">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-4 ">
            <div class="card h-100 ">
                <a href="# "><img class="card-img-top " src="assets/images/vivoV15Pro.jpg " alt=" "></a>
                <div class="card-body ">
                    <h4 class="card-title ">
                        <a href="# ">Vivo V 15 Pro</a>
                    </h4>
                    <h5>Rs.13000</h5>
                    <p class="card-text ">
                        The Vivo V15 Pro smartphone comes with a notch free screen. It offers a 6.39-inch FHD+ Ultra Fullview Super AMOLED display with 19.5:9 aspect ratio and 91.64%Screen to body ratio. The handset is powered by Qualcomm Snapdragon 675AIE with 6GB RAM and 128GB
                        ROM which is expandable up to 256GB. It runs on Android 9 Pie based FunTouch 9 operating system.
                </div>
                <div class="card-footer ">
                    <small class="text-muted ">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                </div>
            </div>
        </div>
    -->
    </div>
    <!-- /.row -->

</div>
<!-- /.col-lg-9 -->